<!DOCTYPE html>
<html>
    <head>
        <title>Full Stack SE</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/static/style.css" />
    </head>
    <div class="flex-container">
        <div>{% block content %} {% endblock %}</div>
    </div>
</html>
