<!DOCTYPE html>
<html>
    <head>
        <title>Full Stack SE</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            .flex-container {
                display: flex;
                justify-content: center; /* align item horizontally */
                align-items: center; /* align item vertically */
                height: 100vh;
            }
        </style>
    </head>
    <div class="flex-container">
        <div>{% block content %} {% endblock %}</div>
    </div>
</html>
