{% extends "base.html" %} {% block content %}

<div>
    <h1>Hello, world!</h1>
    <div>
        <label for="real">Real</label>
        <input id="real" class="float-right" type="number" value="0.0" />
    </div>
    <p></p>
    <div>
        <label for="imag">Imag</label>
        <input id="imag" class="float-right" type="number" value="0.0" />
    </div>
    <p></p>
    <div>
        <button id="submit" style="width: 100%" onClick="sample()">Submit</button>
    </div>
    <hr />
    <div>
        <p>Result:<span id="result" class="float-right"></span></p>
    </div>
</div>

{% endblock %}
