{% extends "base.html" %} {% block content %}

<div>
    <h1>Hello, world!</h1>
    <div style="display: flex">
        <div style="margin: 10px">{% include "components/position.html" %}</div>
        <div style="margin: 10px">{% include "components/colour.html" %}</div>
        <div style="margin: 10px">{% include "components/iterations.html" %}</div>
    </div>
    <div>
        <button id="submit" style="width: 100%" onClick="col()">Submit</button>
    </div>
    <hr />
    <div>
        <p>Result:<span id="result" class="float-right"></span></p>
    </div>
</div>

{% endblock %}
