body {
    font-family: "Roboto", sans-serif;
    background-size: cover;
}

.flex-container {
    display: flex;
    justify-content: center; /* align horizontally */
    align-items: bottom; /* align vertically */
    height: 100vh;
}

.float-right {
    width: 100px;
    float: right;
}
